model_config_list: {
    config: {
        name: "model",
        base_path: "/models/model",
        model_platform: "tensorflow",
        model_version_policy: {
          specific: {
              versions:1,
              versions:2,
              versions:3,
              versions:4
          }
        }
           
    },
    config: {
        name: "model1",
        base_path: "/models/model1",
        model_platform: "tensorflow",
        model_version_policy: {
            specific: {
            versions:3,
            versions:4
            }
        },
    }
}